Workflows/Auth.json
{
  "name": "Auth",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0f0e30ea-8440-4989-b3de-a96dfaf10ef1",
              "leftValue": "={{ $json.payload_fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        384
      ],
      "id": "344f6201-26e1-4e07-a8fc-19c8ba734e82",
      "name": "If Not From Me"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b90f9d7e-c855-4688-856f-daa1c7ac2dcc",
              "leftValue": "={{ $('Start').item.json.payload_from }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "notEndsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        288
      ],
      "id": "f1a299cf-488b-434c-ba4c-9fdc9d9581cc",
      "name": "If From Group"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "payload_fromMe",
              "type": "boolean"
            },
            {
              "name": "payload_from"
            },
            {
              "name": "name"
            },
            {
              "name": "chat_id"
            }
          ]
        }
      },
      "id": "f6eba8b6-d25b-4152-92bc-ea4f1a5baaab",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        32,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "739d4920-e821-4531-a584-87043656936d",
              "leftValue": "={{ $('Start').item.json.payload_from }}",
              "rightValue": "157930276028427",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        272
      ],
      "id": "4e96f990-f420-4551-a366-88f6132c56d2",
      "name": "If not In Blacklist"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "iSNbcEFyFJRmNEEp",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/dMsIA3pEwYnpuDsV/datatables/iSNbcEFyFJRmNEEp"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "keyValue": "={{ $('Start').item.json.payload_from.split('@')[0] }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        960,
        224
      ],
      "id": "5ea3dc17-61a1-4584-bc3c-7ff920bc89ae",
      "name": "Get Users",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4d34c19e-58ce-4edf-80d4-f84f12901436",
              "leftValue": "={{ $('Get Users') .item.json.isEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        224
      ],
      "id": "99e8dd52-8582-4774-8f75-81240a7e7111",
      "name": "If users is not exist"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "iSNbcEFyFJRmNEEp",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/dMsIA3pEwYnpuDsV/datatables/iSNbcEFyFJRmNEEp"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_admin": false,
            "phone_number": "={{ $('Start').item.json.payload_from .split('@')[0]}}",
            "name": "={{ $('Start').item.json.name }}",
            "chat_id": "={{ $('Start').item.json.chat_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "phone_number",
              "displayName": "phone_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "is_admin",
              "displayName": "is_admin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1456,
        176
      ],
      "id": "ff51a971-9700-48de-b13a-0787722618b3",
      "name": "Insert User"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "iSNbcEFyFJRmNEEp",
          "mode": "list",
          "cachedResultName": "users",
          "cachedResultUrl": "/projects/dMsIA3pEwYnpuDsV/datatables/iSNbcEFyFJRmNEEp"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "keyValue": "={{ $('Start').item.json.payload_from .split('@')[0]}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1456,
        384
      ],
      "id": "3ebd776a-87e9-4bc8-a559-2d757e629989",
      "name": "Get existing user",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "user",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1680,
        256
      ],
      "id": "687313d2-dfef-49da-8786-6edee1698790",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        256
      ],
      "id": "7f201143-eb60-456c-9ac4-82075bebead6",
      "name": "Return User",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return{}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        576
      ],
      "id": "f5f6598b-8cf8-4c58-957d-6d99c743bc0d",
      "name": "Return Empty - Not From Me"
    },
    {
      "parameters": {
        "jsCode": "return{}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        432
      ],
      "id": "661fd717-0f3b-463f-91d1-20f82db9d3e8",
      "name": "Return Empty - Not From Group"
    },
    {
      "parameters": {
        "jsCode": "return{}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        448
      ],
      "id": "b6326380-c81d-4be8-9aa1-c5628f68dcf6",
      "name": "Return Empty"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "payload_fromMe": false,
          "payload_from": "157930276028428@lid",
          "name": "Toko Buah Greg",
          "chat_id": "false_157930276028428@lid_AC53E26CB4F820C6AEEF0C7D6D6B5D56"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "If From Group": {
      "main": [
        [
          {
            "node": "If not In Blacklist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Empty - Not From Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Not From Me": {
      "main": [
        [
          {
            "node": "If From Group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Empty - Not From Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "If Not From Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not In Blacklist": {
      "main": [
        [
          {
            "node": "Get Users",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Users": {
      "main": [
        [
          {
            "node": "If users is not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If users is not exist": {
      "main": [
        [
          {
            "node": "Insert User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get existing user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get existing user": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Return User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3aa3b118-f43d-469b-a9d8-f3cb8cfb19e6",
  "meta": {
    "instanceId": "9925848573803cd444f994174f00f257ae8f2cd861c158aef0650426695a0f0b"
  },
  "id": "mCVaS2zWwSfnZ82S",
  "tags": []
}